<div class="d-flex align-items-center">
  <h1>スレッド編集</h1>
  <div class="ml-auto boards__linkBox">
    <%= link_to 'スレッド一覧', boards_path, class: 'btn btn-outline-dark' %>
  </div>
</div>
<%= render partial: 'form', locals: {board: @board}%>